rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /leads/{leadId} {
      allow read, write: if false;
    }

    match /newsletter_subscribers/{subscriberId} {
      allow read, write: if false;
    }
  }
}